{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 150,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true,
        "explicitTypes": "always"
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 250,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true
      }
    }
  ]
}